In [1]:
import pandas as pd
import numpy  as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('Erasmus_data_stresstesting_2024.pickle')

In [3]:
df.iloc[1:20, :].to_csv('df_snapshot.csv')

In [4]:
df.loc[df['country_code']== 'CZ']

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,fixed_assets_0,...,cash_flow_2,cash_flow_3,added_value_0,added_value_1,added_value_2,added_value_3,ebitda_0,ebitda_1,ebitda_2,ebitda_3
271,7001474,CZ05709156,CZ,G,SME,2018,20170413,non_default,0,95166.0,...,NaN,NaN,642523.0,NaN,NaN,NaN,502496.0,NaN,NaN,NaN
276,7001786,CZ26379309,CZ,G,SME,2012,16991231,non_default,0,101745.0,...,NaN,NaN,NaN,NaN,NaN,NaN,300384.0,NaN,NaN,NaN
309,7009538,CZ25291921,CZ,C,SME,2011,16991231,non_default,0,3242474.0,...,1276825.0,1363106.0,NaN,NaN,NaN,2838342.0,1494591.0,1299695.0,1249388.0,1332983.0
327,7009094,CZ24839311,CZ,G,SME,2017,16991231,non_default,0,195110.0,...,446350.0,NaN,413444.0,566009.0,639868.0,NaN,477593.0,485457.0,586327.0,NaN
336,7009536,CZ25291921,CZ,C,SME,2013,16991231,non_default,0,3006180.0,...,1502847.0,1432054.0,NaN,2959131.0,NaN,NaN,1149374.0,1318236.0,1494591.0,1299695.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521711,179887718,CZ25865480,CZ,C,SME,2014,16991231,non_default,0,1179824.0,...,NaN,NaN,1840761.0,NaN,NaN,NaN,788666.0,NaN,NaN,NaN
1521741,36594629,CZ26182149,CZ,I,SME,2007,16991231,non_default,0,2104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,878456.0,NaN,NaN,NaN
1521781,67582231,CZ28606221,CZ,G,SME,2013,16991231,non_default,0,1510981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521831,249626658,CZ00563315,CZ,R,SME,2004,16991231,non_default,0,2167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,485632.0,NaN,NaN,NaN
1522287,6377468,CZ63677920,CZ,G,SME,2014,16991231,non_default,0,37839.0,...,539673.0,NaN,NaN,NaN,NaN,NaN,526751.0,467528.0,721088.0,NaN

In [5]:
df['industry_code'].unique()

array(['G', 'F', 'A', 'N', 'GX', 'C', 'D', 'J', 'M', 'K', 'H', 'L', 'Q',
       'P', 'S', 'B', 'E', 'I', 'R'], dtype=object)

In [6]:
df['default_indicator'].sum()

14190

In [7]:
df['status_latest'].unique()

array(['non_default'], dtype=object)

In [8]:
df['country_code'].unique()

array(['DE', 'RU', 'ES', 'IT', 'PL', 'SE', 'UA', 'NO', 'NL', 'CO', 'GB',
       'BG', 'HR', 'RO', 'LT', 'CZ', 'PT', 'HU', 'FI', 'SK', 'SI', 'DK',
       'RS', 'AT', 'AU', 'US', 'IS', 'BE', 'KZ', 'BY', 'AM', 'GE', 'MU',
       'MD', 'LV'], dtype=object)

In [9]:
df['status_year'].unique()

array([2020, 2011, 2013, 2014, 2021, 2016, 2015, 2006, 2005, 2019, 2017,
       2012, 2018, 2009, 2008, 2010, 2007, 2003, 2022, 2004, 2002, 2001,
       2000], dtype=int32)