In [1]:
import pandas as pd
import numpy  as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('Erasmus_data_stresstesting_2024.pickle')

In [3]:
df.iloc[1:20, :].to_csv('df_snapshot.csv')

In [16]:
9/1793

0.0050195203569436695

In [55]:
for i in range(2000, 2022):
    print(df.loc[df['status_year']==i]['default_indicator'].sum())

0
3
13
6
14
16
24
34
29
73
100
939
1378
1364
1325
1412
1644
1382
1202
1308
825
695

In [54]:
df.loc[df['status_year']==2000]['default_indicator'].sum()

0

In [51]:
df.loc[df['industry_code']== 'C']

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,fixed_assets_0,...,cash_flow_2,cash_flow_3,added_value_0,added_value_1,added_value_2,added_value_3,ebitda_0,ebitda_1,ebitda_2,ebitda_3
9,7000375,IT00174710145,IT,C,SME,2006,16991231,non_default,0,1384038.0,...,263278.0,286875.0,814785.0,834961.0,832154.0,767041.0,294436.0,323697.0,363494.0,313583.0
10,7000376,IT00174710145,IT,C,SME,2005,16991231,non_default,0,1067546.0,...,286875.0,291243.0,834961.0,832154.0,767041.0,746729.0,323697.0,363494.0,313583.0,304113.0
15,7003156,SE5564586948,SE,C,SME,2012,16991231,non_default,0,3341981.0,...,-923462.0,495902.0,1768811.0,2787704.0,2495711.0,NaN,-635397.0,385997.0,-879095.0,514532.0
18,7000109,UA24658276,UA,C,SME,2009,16991231,non_default,0,5636087.0,...,520493.0,-339445.0,NaN,NaN,2223147.0,1741338.0,-628173.0,248225.0,647193.0,-153213.0
25,7003043,IT02421270162,IT,C,SME,2019,16991231,non_default,0,4437739.0,...,233084.0,263087.0,2116978.0,1907583.0,1592715.0,1343782.0,692973.0,425306.0,387752.0,348976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526929,331533936,GB00150911,GB,C,SME,2006,16991231,non_default,0,1225509.0,...,242615.0,298971.0,2517778.0,2554823.0,2670289.0,NaN,49648.0,350668.0,331206.0,396213.0
1526934,395339735,DE6110032026,DE,C,SME,2019,16991231,non_default,0,120224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526935,395365784,DE6090005259,DE,C,SME,2020,16991231,non_default,0,2436483.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526955,395389228,DE6090070444,DE,C,SME,2019,16991231,non_default,0,1836948.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526960,341835294,RU40529130,RU,C,SME,2011,16991231,non_default,0,34792920.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
len(df.loc[:, l].dropna()['bvd_id_number'].unique())

380054

In [97]:
df.loc[:, l].dropna().loc[df.loc[:, l].dropna()['bvd_id_number']=='SE5564586948']

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,fixed_assets_0,...,total_shareh_funds_liab_0,working_capital_0,operating_revenue_0,operating_pl_ebit_0,financial_expenses_0,financial_pl_0,pl_before_tax_0,taxation_0,pl_after_tax_0,pl_for_period_net_income_0
15,7003156,SE5564586948,SE,C,SME,2012,16991231,non_default,0,3341981.0,...,7080487.0,1938584.0,9279848.0,-957465.0,68166.0,-40433.0,-997898.0,-38802.0,-959096.0,-959096.0
284,7003165,SE5564586948,SE,C,SME,2003,16991231,non_default,0,1173887.0,...,6012010.0,1558617.0,9083424.0,-595542.0,55832.0,-49084.0,-644626.0,-15237.0,-629389.0,-629389.0
1889,7003163,SE5564586948,SE,C,SME,2005,16991231,non_default,0,1632412.0,...,7080959.0,2373527.0,9265640.0,-4261.0,56878.0,-8095.0,-12355.0,-143473.0,131117.0,131117.0
1894,7003155,SE5564586948,SE,C,SME,2013,16991231,non_default,0,4042979.0,...,9008629.0,2511553.0,7569650.0,-3793065.0,79015.0,-19302.0,-3812368.0,-202505.0,-3609863.0,-3609863.0

In [99]:
df.loc[:, l].dropna()['default_indicator'].sum()

9873

In [107]:
len(df.loc[:, l].dropna()['bvd_id_number'].unique())

380054

In [108]:
9873/380054

0.02597788735284986

In [102]:
9873/df.loc[:, l].dropna().shape[0]

0.009715654967796535

In [104]:
df['default_indicator'].sum()/df['default_indicator'].shape[0]

0.009292864730205675

In [89]:
print(df.loc[:, l].dropna().columns.tolist())

['index', 'bvd_id_number', 'country_code', 'industry_code', 'size_class', 'status_year', 'status_date_latest', 'status_latest', 'default_indicator', 'fixed_assets_0', 'intangible_fixed_assets_0', 'tangible_fixed_assets_0', 'other_fixed_assets_0', 'current_assets_0', 'stock_0', 'debtors_0', 'other_current_assets_0', 'cash_cash_equivalent_0', 'total_assets_0', 'shareholders_funds_0', 'capital_0', 'other_shareholders_funds_0', 'noncurrent_liabilities_0', 'long_term_debt_0', 'other_noncurrent_liabilities_0', 'current_liabilities_0', 'loans_0', 'creditors_0', 'other_current_liabilities_0', 'total_shareh_funds_liab_0', 'working_capital_0', 'operating_revenue_0', 'operating_pl_ebit_0', 'financial_expenses_0', 'financial_pl_0', 'pl_before_tax_0', 'taxation_0', 'pl_after_tax_0', 'pl_for_period_net_income_0']

In [82]:
l = []
x = [df.isna().sum() < 200000]
for i in range(len([df.isna().sum() < 200000][0])):
    l.append(x[0][i])

In [76]:
len([df.isna().sum() < 200000][0])

213

In [96]:
df['status_latest'].unique()

array(['non_default'], dtype=object)

In [72]:
[df.isna().sum() < 200000][0][0]

True

In [113]:
df['industry_code'].unique()

array(['G', 'F', 'A', 'N', 'GX', 'C', 'D', 'J', 'M', 'K', 'H', 'L', 'Q',
       'P', 'S', 'B', 'E', 'I', 'R'], dtype=object)

In [37]:
len(df['bvd_id_number'].unique())

556866

In [29]:
df['default_indicator'].sum()/df.shape[0]

0.009292864730205675

In [7]:
df['status_latest'].unique()

array(['non_default'], dtype=object)

In [110]:
df['country_code'].unique()

array(['DE', 'RU', 'ES', 'IT', 'PL', 'SE', 'UA', 'NO', 'NL', 'CO', 'GB',
       'BG', 'HR', 'RO', 'LT', 'CZ', 'PT', 'HU', 'FI', 'SK', 'SI', 'DK',
       'RS', 'AT', 'AU', 'US', 'IS', 'BE', 'KZ', 'BY', 'AM', 'GE', 'MU',
       'MD', 'LV'], dtype=object)

In [9]:
df['status_year'].unique()

array([2020, 2011, 2013, 2014, 2021, 2016, 2015, 2006, 2005, 2019, 2017,
       2012, 2018, 2009, 2008, 2010, 2007, 2003, 2022, 2004, 2002, 2001,
       2000], dtype=int32)