# 3. Creating Dataset for Imputation

In this part, we firstly check for the linear combination in our dataset that stems from the accounting relationships among the firm characteristics, such as *financial_revenu* - *financial_expense* = *financial PL*, i.e., we look for the A+B=C relationships among varibales based on our accounting knowledge. For the identified relationships we remove the C variables. Further, we check whether the discovered relationships hold throughout the dataset. We find out that it is **not** the case, there are two issues: firstly, sometimes A and B are non missing while C is missing, this issue is not relevant for us as we remove the C variables (we did not discover cases, when A and C are non-missing or B and C are non-missing, which would allow to compute B or A from the other values); secondly, in some cases the A+B=C relationship does not hold (some errors might be due to the fat finger phenomenon, other appear to be at ranodm). Since, we are not able to determine in which variable (A or B or C) the error occur, we assume the errors are part of the C variable that is removed. 

Once the C variables are removed, we proceed by removing columns with a lot of missing values. Firstly, all *second* and *third lags* are removed as they contain a large number of defaults. Secondly, we remove columns that have more than aprox. 33\% of missing values. This leavs us dataset with dimension of 1 075 926 x 63, about 20\% of the dataset are missing values. **We use this dataset for the MICE imputation.**

In [2]:
import pandas as pd
import numpy  as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
import sklearn.pipeline
import sklearn
import xgboost as xgb
import warnings
import math

# Loading Dataset

In [4]:
data = pd.read_pickle('Erasmus_data_stresstesting_2024.pickle')

In [5]:
data

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,fixed_assets_0,...,cash_flow_2,cash_flow_3,added_value_0,added_value_1,added_value_2,added_value_3,ebitda_0,ebitda_1,ebitda_2,ebitda_3
0,396160676,DE7350012856,DE,G,SME,2020,16991231,non_default,0,72912.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,409479565,RU78171352,RU,G,SME,2011,16991231,non_default,0,3193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,409936846,RU79023978,RU,G,SME,2013,16991231,non_default,1,18743.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,409872267,RU79859926,RU,F,SME,2013,16991231,non_default,0,1328937.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,440112490,RU89954117,RU,G,SME,2014,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526973,212124085,LV000384403,LV,G,SME,2010,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,192111.0,42807.0,117551.0,NaN
1526974,316233678,DE2050497257,DE,L,SME,2020,16991231,non_default,0,24010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526975,395041837,NL27104129,NL,G,SME,2005,19820408,non_default,0,2552433.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526976,454534921,RU67448158,RU,F,SME,2016,20161014,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526977,454235889,RU67962748,RU,F,SME,2016,16991231,non_default,0,93762.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Remove C variables of identified A+B=C reationships

In [6]:
# Based on accounting relation between variables in the dataset, we decided to remove these variables
columns_to_remove = [
    'fixed_assets_0', 'current_assets_0', 'total_assets_0', 'shareholders_funds_0', 
    'noncurrent_liabilities_0', 'current_liabilities_0', 'total_shareh_funds_liab_0', 
    'working_capital_0', 'net_current_assets_0', 'operating_revenue_0', 'financial_pl_0', 
    'pl_before_tax_0', 'pl_after_tax_0', 'pl_for_period_net_income_0', 'ebitda_0'
]

# Drop the specified columns
df = data.drop(columns=columns_to_remove) 

# remove also these variable with lag 1
columns_to_remove = [col.replace('_0', '_1') for col in columns_to_remove]

df = df.drop(columns=columns_to_remove)

In [7]:
# Next we remove all variables with lag 2 and 3 as they have too many missing values
filtered_columns = [col for col in df.columns if all(str(num) not in col for num in range(2, 4))]
df = df[filtered_columns]
df

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,intangible_fixed_assets_0,...,depreciation_amortization_0,depreciation_amortization_1,interest_paid_0,interest_paid_1,research_development_expenses_0,research_development_expenses_1,cash_flow_0,cash_flow_1,added_value_0,added_value_1
0,396160676,DE7350012856,DE,G,SME,2020,16991231,non_default,0,2905.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,409479565,RU78171352,RU,G,SME,2011,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,409936846,RU79023978,RU,G,SME,2013,16991231,non_default,1,0.0,...,NaN,NaN,362387.0,326723.0,NaN,NaN,NaN,NaN,NaN,NaN
3,409872267,RU79859926,RU,F,SME,2013,16991231,non_default,0,0.0,...,NaN,NaN,354.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,440112490,RU89954117,RU,G,SME,2014,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526973,212124085,LV000384403,LV,G,SME,2010,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526974,316233678,DE2050497257,DE,L,SME,2020,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526975,395041837,NL27104129,NL,G,SME,2005,19820408,non_default,0,0.0,...,295020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526976,454534921,RU67448158,RU,F,SME,2016,20161014,non_default,0,0.0,...,NaN,NaN,17314.0,28545.0,NaN,NaN,NaN,NaN,NaN,NaN
1526977,454235889,RU67962748,RU,F,SME,2016,16991231,non_default,0,0.0,...,NaN,NaN,103631.0,17367.0,NaN,NaN,NaN,-90753.0,NaN,NaN

# Check if the accounting relations always hold, i.e. A + B = C

In [8]:
def a_b_c(data, column1, column2, column3, type = '-'):

    for i in range(data.shape[0]):
        a = data.iloc[i, :][column1]
        if type == '+':
            b = -data.iloc[i, :][column2]
        else:
            b = data.iloc[i, :][column2]
        c = data.iloc[i, :][column3]
        
        if (math.isnan(a) == math.isnan(b) == math.isnan(c)) == True:
            x = a - b - c < 5
            diff = a - b - c

            if x == False:
                print(f'Wrong SUM with diff: {diff} at {i}: {a}, {b}, {c}')
        else:
            print(f'Missing Val: {i}: {math.isnan(a)}, {math.isnan(b)}, {math.isnan(c)}')

In [9]:
def a_b_c_d(data, column1, column2, column3, column4):

    for i in range(data.shape[0]):
        a = data.iloc[i, :][column1]
        b = data.iloc[i, :][column2]
        c = data.iloc[i, :][column3]
        d = data.iloc[i, :][column4]
        
        if (math.isnan(a) == math.isnan(b) == math.isnan(c) == math.isnan(d)) == True:
            x = a - b - c - d < 5
            diff = a - b - c - d 

            if x == False:
                print(f'Wrong SUM with diff: {diff}: {i}: {a}, {b}, {c}, {d}')
        else:
            print(f'Missing Val at {i}: {math.isnan(a)}, {math.isnan(b)}, {math.isnan(c)}, {math.isnan(d)}')

In [10]:
#check for selected columns

a_b_c(data[data['country_code'] == 'IT'], 'financial_revenue_0', 'financial_expenses_0', 'financial_pl_0')
#a_b_c(data[data['country_code'] == 'IT'], 'pl_before_tax_0', 'taxation_0', 'pl_after_tax_0')
#a_b_c(data[data['country_code'] == 'IT'], 'operating_pl_ebit_0', 'financial_pl_0', 'pl_before_tax_0', type = '+')
#a_b_c(data, 'shareholders_funds_0', 'capital_0', 'other_shareholder_funds_0')
#a_b_c_d(data, 'current_liabilities_0', 'loans_0', 'creditors_0', 'other_current_liabilities_0')
#a_b_c(data, 'noncurrent_liabilities_0', 'long_term_debt_0', 'other_noncurrent_liabilities_0')
#a_b_c_d(data, 'current_assets_0', 'stock_0', 'debtors_0', 'other_current_assets_0')

Wrong SUM with diff: 164.0 at 4133: 2164.0, 243442.0, -241442.0
Missing Val: 4184: True, False, False
Wrong SUM with diff: 127109.0 at 4911: 141746.0, 205570.0, -190933.0
Wrong SUM with diff: 4538933.0 at 6130: 4539465.0, 9766.0, -9234.0
Missing Val: 8677: True, False, False
Wrong SUM with diff: 5695914.0 at 10462: 5705656.0, 106394.0, -96652.0
Wrong SUM with diff: 9738.0 at 12867: 10500.0, 95512.0, -94750.0
Missing Val: 14754: True, True, False
Missing Val: 14781: True, True, False
Wrong SUM with diff: 19958.0 at 19338: 30000.0, 14921.0, -4879.0
Missing Val: 20715: True, True, False
Missing Val: 21125: True, True, False
Missing Val: 21142: True, True, False
Missing Val: 21840: True, True, False
Missing Val: 21870: True, True, False
Missing Val: 21871: True, True, False
Wrong SUM with diff: 10.0 at 26455: 0.0, 0.0, -10.0
Wrong SUM with diff: 16.0 at 26771: 9963994.0, 146963744.0, -136999760.0
Wrong SUM with diff: 90271.0 at 29482: 0.0, 0.0, -90271.0
Wrong SUM with diff: 950000.0 at 31635: 21870.0, 205018.0, -1133148.0
Wrong SUM with diff: 2461458.0 at 32297: 2462213.0, 125775.0, -125020.0
Missing Val: 34691: True, False, False
Missing Val: 37841: True, False, False
Missing Val: 38185: True, True, False
Missing Val: 38925: True, True, False
Missing Val: 39114: True, True, False
Missing Val: 39608: True, False, False
Missing Val: 40744: True, True, False
Wrong SUM with diff: 1493025.0 at 42209: 1498879.0, 246.0, 5608.0
Wrong SUM with diff: 9804196.0 at 47193: 9815782.0, 2.0, 11584.0
Wrong SUM with diff: 330.0 at 47803: 5029.0, 316268.0, -311569.0
Missing Val: 49337: True, True, False
Wrong SUM with diff: 3619.0 at 51921: 7238.0, 68551.0, -64932.0
Missing Val: 52147: True, False, False
Missing Val: 53249: True, False, False
Wrong SUM with diff: 3000.0 at 53497: 69871.0, 104685.0, -37814.0
Wrong SUM with diff: 915019.0 at 53964: 1919.0, 27968.0, -941068.0
Wrong SUM with diff: 2038431.0 at 54150: 2042596.0, 26873.0, -22708.0
Missing Val: 55388: True, False, False
Wrong SUM with diff: 27.0 at 57464: 22.0, 78469.0, -78474.0
Missing Val: 64603: True, False, False
Wrong SUM with diff: 128.0 at 70351: 128.0, 563618.0, -563618.0
Wrong SUM with diff: 1333656.0 at 71842: 1333712.0, 74960.0, -74904.0
Wrong SUM with diff: 267587.0 at 79140: 267816.0, 64998.0, -64769.0
Missing Val: 82458: True, True, False
Missing Val: 83081: True, False, False
Missing Val: 83095: True, True, False
Missing Val: 83899: True, False, False
Wrong SUM with diff: 2571188.0 at 85026: 2586017.0, -171.0, 15000.0
Wrong SUM with diff: 6252.0 at 88867: 29.0, 30990.0, -37213.0
Missing Val: 90976: True, False, False
Missing Val: 91163: True, False, False
Wrong SUM with diff: 98118.0 at 92226: 1345.0, 64.0, -96837.0
Missing Val: 93068: True, False, False
Missing Val: 94108: True, False, False
Wrong SUM with diff: 25135.0 at 94672: 25250.0, 13519.0, -13404.0
Missing Val: 96295: True, True, False
Wrong SUM with diff: 2637913.0 at 97936: 2637914.0, 10805.0, -10804.0
Missing Val: 99338: True, True, False
Missing Val: 99374: True, True, False
Wrong SUM with diff: 18887.0 at 101683: 20458.0, 6315.0, -4744.0
Wrong SUM with diff: 7243098.0 at 101725: 7674164.0, 455636.0, -24570.0
Wrong SUM with diff: 3454882.0 at 104929: 3454884.0, 18666.0, -18664.0
Wrong SUM with diff: 5283953.0 at 105300: 3480888.0, 1411783.0, -3214848.0
Wrong SUM with diff: 38630.0 at 109525: 0.0, 0.0, -38630.0
Missing Val: 110978: True, True, False
Missing Val: 110990: True, True, False
Missing Val: 111015: True, True, False
Missing Val: 111251: True, True, False
Wrong SUM with diff: 14381.0 at 118475: 883.0, 2430423.0, -2443921.0
Wrong SUM with diff: 146304.0 at 119919: 5036.0, 5036.0, -146304.0
Missing Val: 122625: True, True, False
Missing Val: 122652: True, True, False
Missing Val: 124950: True, True, False
Wrong SUM with diff: 125.0 at 127826: 270.0, 270.0, -125.0
Missing Val: 129366: True, False, False
Missing Val: 130504: True, True, False
Missing Val: 130588: True, True, False
Missing Val: 131267: True, True, False
Missing Val: 131476: True, True, False
Wrong SUM with diff: 319.0 at 134638: 1366.0, 217502.0, -216455.0
Wrong SUM with diff: 2558.0 at 138143: 5.0, 160155.0, -162708.0
Wrong SUM with diff: 3006148.0 at 138288: 3009600.0, 56474.0, -53022.0
Missing Val: 138318: True, False, False
Missing Val: 138325: True, False, False
Wrong SUM with diff: 316777.0 at 138886: 320168.0, 1408.0, 1983.0
Wrong SUM with diff: 72322.0 at 139609: 72754.0, 74436.0, -74004.0
Missing Val: 140147: True, True, False
Wrong SUM with diff: 41456.0 at 140605: 3656.0, 86911.0, -124711.0
Wrong SUM with diff: 7269.0 at 141153: 10000.0, 1084.0, 1647.0
Wrong SUM with diff: 12385.0 at 145825: 12525.0, 62990.0, -62850.0
Missing Val: 147694: True, False, False
Missing Val: 148905: True, False, False
Wrong SUM with diff: 1426109.0 at 149526: 1426114.0, 2037881.0, -2037876.0
Wrong SUM with diff: 6791.0 at 151226: 28232.0, 273649.0, -252208.0
Wrong SUM with diff: 26.0 at 151517: 156.0, 156.0, -26.0
Missing Val: 151911: True, True, False
Wrong SUM with diff: 175442.0 at 154516: 208979.0, 86422.0, -52885.0
Wrong SUM with diff: 2636799.0 at 155026: 2636799.0, 188339.0, -188339.0
Wrong SUM with diff: 20836556.0 at 156887: 20880000.0, -228304.0, 271749.0
Wrong SUM with diff: 548.0 at 157334: 112.0, 199.0, -635.0
Missing Val: 158075: True, True, False
Wrong SUM with diff: 97985.0 at 158815: 100000.0, 28763.0, -26748.0
Wrong SUM with diff: 118408.0 at 159479: 0.0, 128549.0, -246957.0
Missing Val: 164542: True, True, False
Missing Val: 164569: True, True, False
Missing Val: 164631: True, True, False
Wrong SUM with diff: 10000.0 at 167791: 2283.0, 358973.0, -366690.0
Wrong SUM with diff: 6860831.0 at 172988: 6862183.0, 15568.0, -14216.0
Missing Val: 178432: True, True, False
Wrong SUM with diff: 116.0 at 180205: 123.0, 6795.0, -6788.0
Wrong SUM with diff: 142496.0 at 187202: 142598.0, 11502.0, -11400.0
Wrong SUM with diff: 18434.0 at 194923: 20000.0, 264286.0, -262720.0
Wrong SUM with diff: 142053.0 at 197253: 585.0, 8904.0, -150372.0
Wrong SUM with diff: 1343286.0 at 197998: 1371684.0, 4745.0, 23653.0
Wrong SUM with diff: 8.0 at 198650: 521854016.0, 498287008.0, 23567000.0
Wrong SUM with diff: 41015.0 at 198674: 1199.0, 0.0, -39816.0
Wrong SUM with diff: 16.0 at 201206: 386998016.0, 366312000.0, 20686000.0
Wrong SUM with diff: 1182105.0 at 208869: 1186136.0, 30948.0, -26917.0
Wrong SUM with diff: 46330.0 at 213991: 50000.0, 59148.0, -55478.0
Wrong SUM with diff: 1395661.0 at 220664: 1395668.0, 17546.0, -17539.0
Missing Val: 223754: True, False, False
Missing Val: 225707: True, False, False
Wrong SUM with diff: 102.0 at 226099: 17560.0, 278538.0, -261080.0
Wrong SUM with diff: 1565223.0 at 226327: 1572567.0, 142004.0, -134660.0
Missing Val: 228973: True, False, False
Missing Val: 231867: True, True, False
Missing Val: 232961: True, True, False
Missing Val: 233031: True, True, False
Missing Val: 233083: True, True, False
Wrong SUM with diff: 5242.0 at 233979: 6800.0, 35946.0, -34388.0
Missing Val: 234374: True, True, False
Wrong SUM with diff: 36903144.0 at 235000: 36904076.0, 1810419.0, -1809490.0
Missing Val: 235267: True, True, False
Missing Val: 235997: True, True, False
Wrong SUM with diff: 1229542.0 at 237858: 2008601.0, 464922.0, 314137.0
Missing Val: 238484: True, True, False
Missing Val: 238601: True, True, False
Missing Val: 238622: True, True, False
Wrong SUM with diff: 4000.0 at 239369: 18904.0, 103766.0, -88862.0
Missing Val: 241120: True, True, False
Missing Val: 241229: True, True, False
Wrong SUM with diff: 5514803.0 at 242098: 5517184.0, 86611.0, -84230.0
Wrong SUM with diff: 1000.0 at 242310: 4000.0, 27000.0, -24000.0
Wrong SUM with diff: 20240.0 at 243731: 3973.0, 7127.0, -23394.0
Wrong SUM with diff: 233661.0 at 244038: 2918.0, 253.0, -230996.0
Wrong SUM with diff: 2202581.0 at 244608: 2202994.0, 20813.0, -20400.0
Missing Val: 244963: True, False, False
Missing Val: 244983: True, False, False
Wrong SUM with diff: 105386.0 at 245423: 105753.0, 15404.0, -15037.0
Missing Val: 245503: True, True, False
Wrong SUM with diff: 5491385.0 at 246172: 5493078.0, 242489.0, -240796.0
Wrong SUM with diff: 1000.0 at 248109: 5000.0, 0.0, 4000.0
Missing Val: 248640: True, True, False
Wrong SUM with diff: 92999.0 at 248860: 107.0, 172265.0, -265157.0
Wrong SUM with diff: 986.0 at 248999: 706.0, 214523.0, -214803.0
Wrong SUM with diff: 1000.0 at 250668: 2000.0, 83000.0, -82000.0
Missing Val: 254830: True, False, False
Wrong SUM with diff: 2724916.0 at 255933: 2740253.0, 83505.0, -68168.0
Wrong SUM with diff: 20976.0 at 258888: 3922.0, 72880.0, -89934.0
Wrong SUM with diff: 21284.0 at 260349: 689.0, 249869.0, -270464.0
Wrong SUM with diff: 23742.0 at 261927: 0.0, 0.0, -23742.0
Wrong SUM with diff: 21662.0 at 261960: 0.0, 0.0, -21662.0
Wrong SUM with diff: 43356.0 at 262305: 0.0, 0.0, -43356.0
Wrong SUM with diff: 15692.0 at 263284: 16000.0, 39370.0, -39062.0
Wrong SUM with diff: 4093237.0 at 263700: 4093321.0, 1114.0, -1030.0
Wrong SUM with diff: 28139.0 at 264256: 0.0, 0.0, -28139.0
Wrong SUM with diff: 439984.0 at 264381: 440000.0, 9274.0, -9258.0
Wrong SUM with diff: 11.0 at 269608: 0.0, 0.0, -11.0
Wrong SUM with diff: 9927.0 at 279492: 10000.0, 1257.0, -1184.0
Wrong SUM with diff: 3778391.0 at 281034: 3781495.0, 20943.0, -17839.0
Missing Val: 282267: True, False, False
Wrong SUM with diff: 832889.0 at 284287: 839321.0, 212.0, 6220.0
Wrong SUM with diff: 1000.0 at 286603: 8000.0, 15000.0, -8000.0
Missing Val: 287016: True, False, False
Missing Val: 287735: True, True, False
Missing Val: 292475: True, False, False
Wrong SUM with diff: 1000.0 at 297651: 101000.0, 45000.0, 55000.0
Wrong SUM with diff: 171123.0 at 299801: 193563.0, 46875.0, -24435.0
Wrong SUM with diff: 10.0 at 305434: 25.0, 37596.0, -37581.0

In [11]:
a_b_c_d(data[data['country_code'] == 'IT'], 'current_assets_0', 'stock_0', 'debtors_0', 'other_current_assets_0')

Wrong SUM with diff: 1000.0: 132: 13633000.0, 6795000.0, 1690000.0, 5147000.0
Wrong SUM with diff: 7.0: 1386: 175457056.0, 161764992.0, 1117304.0, 12574753.0
Wrong SUM with diff: 10.0: 1552: 186447072.0, 173945968.0, 3741105.0, 8759989.0
Wrong SUM with diff: 6.0: 3966: 159550672.0, 143981696.0, 7859807.0, 7709163.0
Wrong SUM with diff: 8.0: 5039: 138000896.0, 95148184.0, 37532360.0, 5320344.0
Wrong SUM with diff: 5.0: 7539: 82256600.0, 79472320.0, 83739.0, 2700536.0
Wrong SUM with diff: 6.0: 14526: 87259200.0, 76474744.0, 5749441.0, 5035009.0
Missing Val at 14754: True, True, False, False
Missing Val at 14781: True, True, False, False
Wrong SUM with diff: 1000.0: 16451: 2516000.0, 45000.0, 1024000.0, 1446000.0
Missing Val at 20715: True, True, False, False
Missing Val at 21125: True, True, False, False
Missing Val at 21142: True, True, False, False
Missing Val at 21840: True, True, False, False
Missing Val at 21870: True, True, False, False
Missing Val at 21871: True, True, False, False
Wrong SUM with diff: 61334.0: 22646: 1533396.0, 0.0, 0.0, 1472062.0
Wrong SUM with diff: 8.0: 24209: 93962656.0, 0.0, 1594953.0, 92367696.0
Wrong SUM with diff: 8.0: 26698: 106964680.0, 873346.0, 3797266.0, 102294064.0
Wrong SUM with diff: 217624.0: 36132: 1878086.0, 0.0, 0.0, 1660462.0
Missing Val at 38185: True, True, False, False
Missing Val at 38925: True, True, False, False
Missing Val at 39114: True, True, False, False
Missing Val at 40744: True, True, False, False
Missing Val at 43410: False, False, True, False
Wrong SUM with diff: 4098.0: 47412: 2905604.0, 688787.0, 0.0, 2212719.0
Wrong SUM with diff: 7.0: 47789: 92461800.0, 89436096.0, 528363.0, 2497334.0
Wrong SUM with diff: 211856.0: 49218: 2730469.0, 0.0, 2120923.0, 397690.0
Wrong SUM with diff: 8.0: 49332: 152074864.0, 9966642.0, 58847280.0, 83260936.0
Missing Val at 49337: True, True, False, False
Wrong SUM with diff: 5.0: 50225: 75694016.0, 65673932.0, 6405235.0, 3614844.0
Wrong SUM with diff: 8.0: 51532: 115092816.0, 6931.0, 8454992.0, 106630888.0
Wrong SUM with diff: 5.0: 52685: 98440216.0, 92710744.0, 1311027.0, 4418440.0
Wrong SUM with diff: 6.0: 53445: 90570248.0, 71670056.0, 873958.0, 18026228.0
Wrong SUM with diff: 5.0: 58525: 134024992.0, 108282008.0, 11924053.0, 13818926.0
Wrong SUM with diff: 6.0: 58577: 148971200.0, 137921520.0, 3041193.0, 8008481.0
Wrong SUM with diff: 11.0: 58578: 138401216.0, 135320800.0, 0.0, 3080405.0
Wrong SUM with diff: 64.0: 72179: 755237184.0, 0.0, 42443.0, 755194688.0
Wrong SUM with diff: 5.0: 72379: 50250936.0, 537146.0, 39914456.0, 9799331.0
Wrong SUM with diff: 8.0: 74959: 96314632.0, 496700.0, 148459.0, 95669472.0
Wrong SUM with diff: 32.0: 76779: 504830944.0, 1000.0, 98718664.0, 406111264.0
Wrong SUM with diff: 1000.0: 79882: 8060000.0, 1980000.0, 4642000.0, 1437000.0
Missing Val at 82458: True, True, False, False
Missing Val at 83095: True, True, False, False
Wrong SUM with diff: 16.0: 84620: 426051872.0, 391601984.0, 16062525.0, 18387348.0
Wrong SUM with diff: 20.0: 90675: 320193440.0, 310260864.0, 8152048.0, 1780508.0
Wrong SUM with diff: 11.0: 90694: 300606016.0, 290139328.0, 8727289.0, 1739388.0
Wrong SUM with diff: 21.0: 91070: 333451488.0, 330095904.0, 1836000.0, 1519563.0
Missing Val at 96295: True, True, False, False
Wrong SUM with diff: 32.0: 99084: 2433252096.0, 2384952064.0, 0.0, 48300000.0
Missing Val at 99338: True, True, False, False
Missing Val at 99374: True, True, False, False
Wrong SUM with diff: 271713.0: 99999: 2911764.0, 440663.0, 1894998.0, 304390.0
Wrong SUM with diff: 1000.0: 105432: 2873000.0, 560000.0, 2110000.0, 202000.0
Wrong SUM with diff: 8.0: 105850: 109775496.0, 470712.0, 151739.0, 109153040.0
Missing Val at 110978: True, True, False, False
Missing Val at 110990: True, True, False, False
Missing Val at 111015: True, True, False, False
Missing Val at 111251: True, True, False, False
Wrong SUM with diff: 50000.0: 113362: 3460056.0, 1075000.0, 1937644.0, 397412.0
Wrong SUM with diff: 8.0: 113770: 423574016.0, 402279008.0, 1605000.0, 19690000.0
Wrong SUM with diff: 1000.0: 115153: 2884000.0, 0.0, 178000.0, 2705000.0
Wrong SUM with diff: 6.0: 115337: 73581920.0, 68467736.0, 937963.0, 4176215.0
Wrong SUM with diff: 8.0: 119793: 87642800.0, 459875.0, 5201.0, 87177720.0
Missing Val at 122625: True, True, False, False
Missing Val at 122652: True, True, False, False
Wrong SUM with diff: 1000.0: 123536: 1898000.0, 11000.0, 1100000.0, 786000.0
Wrong SUM with diff: 1925451.0: 124500: 8975510.0, 3963508.0, 2808297.0, 278254.0
Missing Val at 124950: True, True, False, False
Missing Val at 130504: True, True, False, False
Missing Val at 130588: True, True, False, False
Missing Val at 131267: True, True, False, False
Missing Val at 131476: True, True, False, False
Missing Val at 140147: True, True, False, False
Wrong SUM with diff: 8.0: 141992: 332769376.0, 217821280.0, 3828233.0, 111119856.0
Wrong SUM with diff: 8.0: 142711: 69721824.0, 336609.0, 12200.0, 69373008.0
Missing Val at 151911: True, True, False, False
Wrong SUM with diff: 16.0: 153996: 261628480.0, 14271182.0, 5693687.0, 241663600.0
Wrong SUM with diff: 16.0: 153997: 190545056.0, 13569591.0, 395397.0, 176580064.0
Wrong SUM with diff: 16.0: 154059: 188536176.0, 4705636.0, 528903.0, 183301632.0
Missing Val at 158075: True, True, False, False
Wrong SUM with diff: 9.0: 159337: 144097616.0, 144006976.0, 80275.0, 10356.0
Wrong SUM with diff: 8.0: 161347: 122671352.0, 40305.0, 5558732.0, 117072312.0
Wrong SUM with diff: 128124.0: 161743: 1178358.0, 430815.0, 0.0, 619419.0
Missing Val at 164542: True, True, False, False
Missing Val at 164569: True, True, False, False
Missing Val at 164631: True, True, False, False
Missing Val at 178432: True, True, False, False
Wrong SUM with diff: 1319804.0: 184284: 1757188.0, 0.0, 0.0, 437384.0
Wrong SUM with diff: 8.0: 189009: 90493664.0, 13112090.0, 6087552.0, 71294016.0
Wrong SUM with diff: 512.0: 199305: 6673605120.0, 0.0, 353000.0, 6673251840.0
Wrong SUM with diff: 155823.0: 200476: 913498.0, 51451.0, 639245.0, 66979.0
Wrong SUM with diff: 42001.0: 204353: 1690632.0, 278249.0, 0.0, 1370382.0
Wrong SUM with diff: 555234.0: 214855: 4702771.0, 1015819.0, 2107397.0, 1024321.0
Wrong SUM with diff: 7.0: 216896: 142045600.0, 119674240.0, 7477620.0, 14893733.0
Wrong SUM with diff: 454472.0: 217071: 5625756.0, 920261.0, 2980961.0, 1270062.0
Wrong SUM with diff: 8.0: 217491: 146377840.0, 62621800.0, 0.0, 83756032.0
Wrong SUM with diff: 7.0: 218816: 211994688.0, 0.0, 198618720.0, 13375961.0
Wrong SUM with diff: 179865.0: 220368: 4627364.0, 0.0, 0.0, 4447499.0
Wrong SUM with diff: 7.0: 223468: 155901616.0, 147819520.0, 675506.0, 7406583.0
Wrong SUM with diff: 2495.0: 225091: 3031102.0, 625669.0, 1882119.0, 520819.0
Wrong SUM with diff: 14.0: 226119: 148970656.0, 141182176.0, 1154428.0, 6634038.0
Missing Val at 231867: True, True, False, False
Missing Val at 232961: True, True, False, False
Missing Val at 233031: True, True, False, False
Missing Val at 233083: True, True, False, False
Missing Val at 234374: True, True, False, False
Wrong SUM with diff: 23.0: 234802: 386120224.0, 381329984.0, 96000.0, 4694217.0
Missing Val at 235267: True, True, False, False
Missing Val at 235997: True, True, False, False
Wrong SUM with diff: 5.0: 238083: 178791968.0, 167907376.0, 7782002.0, 3102585.0
Missing Val at 238484: True, True, False, False
Missing Val at 238601: True, True, False, False
Missing Val at 238622: True, True, False, False
Missing Val at 241120: True, True, False, False
Missing Val at 241229: True, True, False, False
Missing Val at 245503: True, True, False, False
Wrong SUM with diff: 32.0: 247867: 287643328.0, 0.0, 542413.0, 287100896.0
Wrong SUM with diff: 16.0: 247877: 150455968.0, 0.0, 1420597.0, 149035360.0
Missing Val at 248640: True, True, False, False
Wrong SUM with diff: 8.0: 250794: 303301152.0, 0.0, 273025728.0, 30275416.0
Wrong SUM with diff: 8.0: 255595: 85780832.0, 0.0, 82260.0, 85698568.0
Wrong SUM with diff: 60829.0: 255840: 3203659.0, 1421544.0, 0.0, 1721286.0
Wrong SUM with diff: 7.0: 256356: 144588592.0, 131288448.0, 4264492.0, 9035645.0
Wrong SUM with diff: 8.0: 256571: 105253280.0, 0.0, 105779.0, 105147496.0
Wrong SUM with diff: 6.0: 262313: 72181224.0, 71679392.0, 0.0, 501826.0
Wrong SUM with diff: 70368.0: 267215: 2601298.0, 164852.0, 0.0, 2366078.0
Wrong SUM with diff: 55533.0: 274751: 347103.0, 93602.0, 0.0, 197968.0
Wrong SUM with diff: 7.0: 275098: 100043088.0, 91248216.0, 0.0, 8794865.0
Wrong SUM with diff: 8.0: 277464: 77726360.0, 0.0, 1315548.0, 76410808.0
Wrong SUM with diff: 200.0: 281518: 2266144.0, 411564.0, 1669175.0, 185205.0
Missing Val at 287735: True, True, False, False
Wrong SUM with diff: 6.0: 292004: 91716624.0, 80595936.0, 2473245.0, 8647437.0
Wrong SUM with diff: 32.0: 296623: 140359008.0, 1000.0, 189000.0, 140168992.0
Wrong SUM with diff: 312812.0: 296711: 1172745.0, 66487.0, 0.0, 793446.0
Wrong SUM with diff: 7.0: 299110: 83963048.0, 77330080.0, 3537128.0, 3095833.0
Wrong SUM with diff: 343908.0: 304131: 5050188.0, 1684407.0, 2833059.0, 188814.0

In [12]:
# Now we subset only on the countries of interest based defined by Zanders
countries_of_interest = ['FI', 'NL', 'AT', 'BE', 'SE', 'DE', 'NO', 'DK', 'IS', 'IT', 'ES', 'PT', 'LV', 'RO', 'HR', 'LT', 'BG', 'SK', 'CZ', 'SI', 'HU', 'PL']

# Subset the DataFrame based on countries of interest
subset_df = df[df['country_code'].isin(countries_of_interest)]

In [13]:
# Unconditional probability of default of the dataset with only EU countries
sum(subset_df['default_indicator'])/subset_df.shape[0]

0.006265300773473269

In [14]:
# number of observations 
subset_df.shape[0]

1075926

In [15]:
subset_df

,index,bvd_id_number,country_code,industry_code,size_class,status_year,status_date_latest,status_latest,default_indicator,intangible_fixed_assets_0,...,depreciation_amortization_0,depreciation_amortization_1,interest_paid_0,interest_paid_1,research_development_expenses_0,research_development_expenses_1,cash_flow_0,cash_flow_1,added_value_0,added_value_1
0,396160676,DE7350012856,DE,G,SME,2020,16991231,non_default,0,2905.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,448629119,ESF34251967,ES,A,SME,2021,20140104,non_default,0,0.0,...,NaN,11282.0,1078.0,456.0,NaN,NaN,154.0,11381.0,34323.0,40281.0
9,7000375,IT00174710145,IT,C,SME,2006,16991231,non_default,0,819427.0,...,136504.0,109947.0,10463.0,8737.0,NaN,NaN,197115.0,220223.0,814785.0,834961.0
10,7000376,IT00174710145,IT,C,SME,2005,16991231,non_default,0,651498.0,...,109947.0,160501.0,8737.0,7114.0,NaN,NaN,220223.0,263278.0,834961.0,832154.0
11,7000905,IT02969620133,IT,G,SME,2019,16991231,non_default,0,3546.0,...,71708.0,57089.0,14449.0,7399.0,NaN,NaN,634701.0,338217.0,1313014.0,772696.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526971,430303751,IT00811420629,IT,G,SME,2006,16991231,non_default,0,24082.0,...,33524.0,30781.0,1480.0,2079.0,NaN,NaN,215824.0,348545.0,594147.0,786761.0
1526972,67988054,LV010340417,LV,F,SME,2018,16991231,non_default,0,32131.0,...,NaN,NaN,39008.0,32506.0,NaN,NaN,NaN,NaN,NaN,NaN
1526973,212124085,LV000384403,LV,G,SME,2010,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526974,316233678,DE2050497257,DE,L,SME,2020,16991231,non_default,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526975,395041837,NL27104129,NL,G,SME,2005,19820408,non_default,0,0.0,...,295020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Lastly we drop the variables that have more than 350_000 nans in no lage, i.e. name_of_variable_0
# Next we remove lags 2 and 3 as they have too many missing values

filtered_columns = [col for col in subset_df.columns if all(str(num) not in col for num in range(1, 4))]
aux_df = subset_df[filtered_columns]
l = aux_df.columns[aux_df.isna().sum() < 350000]

# also keep their 1st lags
lags_to_keep = pd.Index([col.replace('_0', '_1') for col in l[9:]])
keep = l.append(lags_to_keep)

subset_df = subset_df[keep]

In [17]:
keep

Index(['index', 'bvd_id_number', 'country_code', 'industry_code', 'size_class',
       'status_year', 'status_date_latest', 'status_latest',
       'default_indicator', 'intangible_fixed_assets_0',
       'tangible_fixed_assets_0', 'other_fixed_assets_0', 'stock_0',
       'debtors_0', 'other_current_assets_0', 'cash_cash_equivalent_0',
       'capital_0', 'other_shareholders_funds_0', 'long_term_debt_0',
       'other_noncurrent_liabilities_0', 'provisions_0', 'loans_0',
       'creditors_0', 'other_current_liabilities_0', 'number_of_employees_0',
       'sales_0', 'operating_pl_ebit_0', 'financial_revenue_0',
       'financial_expenses_0', 'taxation_0', 'material_costs_0',
       'costs_of_employees_0', 'depreciation_amortization_0',
       'interest_paid_0', 'cash_flow_0', 'added_value_0',
       'intangible_fixed_assets_1', 'tangible_fixed_assets_1',
       'other_fixed_assets_1', 'stock_1', 'debtors_1',
       'other_current_assets_1', 'cash_cash_equivalent_1', 'capital_1',
       'other_shareholders_funds_1', 'long_term_debt_1',
       'other_noncurrent_liabilities_1', 'provisions_1', 'loans_1',
       'creditors_1', 'other_current_liabilities_1', 'number_of_employees_1',
       'sales_1', 'operating_pl_ebit_1', 'financial_revenue_1',
       'financial_expenses_1', 'taxation_1', 'material_costs_1',
       'costs_of_employees_1', 'depreciation_amortization_1',
       'interest_paid_1', 'cash_flow_1', 'added_value_1'],
      dtype='object')

# This dataset is used for imputation of missing values

In [ ]:
subset_df

In [24]:
# proportion of missing values
subset_df.isna().sum().sum()/ (1075926  * 63)

0.21271703969491734